.outer{
	font-family: arial;
	text-transform: uppercase;
	border: 4px solid #000;
	margin-left:0cm;
	margin-right: 0.3cm;
	height:10cm;
	width:11cm;
	border-radius: 0cm;
	margin-bottom: 0.5cm;
	margin-top: 0cm;
	
}
.title,
.creator,
.company,
.qrcode,
.footer{
border:0px solid #000;	
text-align: center;
padding-top: 10px;
font-weight: bold;		
font-size:11px;
}	
.qrcode{
margin: 0px;		
margin-top: -10px;
}
.footer{
margin-top:0px;
margin-bottom: 0px;
border:0px solid #000;
height: 3.3cm;
padding-bottom: 0px;
padding: 0px;
font-size: 80px;		
}	
.creator{
color: #000;
background: #FFF;
margin-top: 15px;
font-size: 16px;
padding-bottom: 16px;
padding-top:10px;
border:1px solid #000;
}
content{
font-size: 20px;
}