.outer{
	font-family: arial;
	text-transform: uppercase;
	border: 4px solid #000;
	margin-left:0cm;
	margin-right: 0.3cm;
	height:3cm;
	width:10cm;
	border-radius: 0cm;
	margin-bottom: 0.5cm;
	
}
.title,
.creator,
.company,
.footer{
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	font-size: 12px;		
}	

.isi{
	height: 3cm;
	width: 3.85cm;
	border: 1px solid #000;
	float: left;

}

.isi1{
	height: 3cm;
	width: 6cm;
	border: 1px solid #000;
	font-weight: bold;
	font-size: 11px;
	float: right;
}


.block-kiri{
	width: 100%;
	display: block;
	border-bottom: 1px solid #000;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}
.block-kiri:last-child{
	border-bottom: 0px solid #000;
}